@mixin sm {
    @media screen and (min-width: $sm) {
        @content;
    }
}

@mixin md {
    @media screen and (min-width: $md) {
        @content;
    }
}

@mixin lg {
    @media screen and (min-width: $lg) {
        @content;
    }
}

@mixin xl {
    @media screen and (min-width: $xl) {
        @content;
    }
}

@mixin xxl {
    @media screen and (min-width: $xxl) {
        @content;
    }
}

@mixin flex-layout($fldir: row, $jc: space-between, $al: center) {
    display: flex;
    flex-direction: $fldir;
    justify-content: $jc;
    align-items: $al;
}

@mixin card {
    &__card {
		position: relative;
		display: block;
		border-radius: .4rem;
		color: currentColor;
		box-shadow: 0px 0px 48px $cards-shadow;
		transform: scale(.99);
		transition: all .3s ease-in-out;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: .4rem;
			background-color: $secondary;
			opacity: 0;
			transition: opacity .3s ease-in-out;
		}
		&:hover,
		&:focus {
			transform: scale(1);
			.a-like {
				background-color: transparent;
				span {
					color: $secondary;
					transition: all .3s ease-in-out;
				}
				.svg-border {
					stroke: $secondary;
					transition: all .3s ease-in-out;
				}
			}
			&::after {
				opacity: .15;
			}
		}
	}
	figure {
		max-width: 100%;
		height: auto;
		img {
			width: 100%;
			height: 100%;
			border-top-left-radius: .4rem;
			border-top-right-radius: .4rem;
			object-fit: cover;
			object-position: center;
		}
	}
	.a-like {
		@include flex-layout(row, center, center);
		padding-top: 1rem;
		padding-bottom: 1rem;
		background-color: $secondary;
		border-bottom-left-radius: .4rem;
		border-bottom-right-radius: .4rem;
		text-align: center;
		font-size: 1.6rem;
		font-weight: 600;
		transition: all .3s ease-in-out;
		@include sm {
			font-size: 2rem;
		}
		@include xl() {
			font-size: 2.4rem;
		}
		span {
			margin-right: 1.6rem;
			color: $primary;
		}
	}
	p:first-of-type {
		@include flex-layout(row, flex-start, center);
		margin-top: 2.4rem;
		span {
			margin-left: .8rem;
		}
	}
	.description {
		margin-bottom: 2.4rem;
	}
}

@mixin student-profile($color-title: $primary, $color-link: $primary) {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 4rem;
	place-items: center;
	@include md {
		grid-template-columns: repeat(2, 1fr);
	}
	@include xl {
		grid-template-columns: repeat(4, 1fr);
	}
	h3 {
		margin-top: 2rem;
		margin-bottom: 2rem;
		text-align: center;
		color: $color-title;
	}
	a {
		display: block;
		font-weight: 400;
		color: $color-link;
		text-align: center;
		text-decoration: underline;
	}
}