/* raleway-700 - latin */
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	src: local(""), url("../fonts/raleway-v19-latin-700.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/raleway-v19-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-600 - latin */
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 600;
	src: local(""), url("../fonts/raleway-v19-latin-600.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/raleway-v19-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: local(""),
		url("../fonts/montserrat-v15-latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/montserrat-v15-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	src: local(""),
		url("../fonts/montserrat-v15-latin-500.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/montserrat-v15-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	src: local(""),
		url("../fonts/montserrat-v15-latin-600.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/montserrat-v15-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
	color: $secondary-color;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.5;
}

h1,
h2 {
	font-weight: 700;
	text-align: center;
}

h1, 
h2, 
h3 {
	font-family: Raleway, sans-serif;
}

h1 {
	color: $primary;
	font-size: 3.8rem;
	line-height: 1.2;
	text-shadow: 2px 2px 6px $hero-card-bg;
	text-align: center;
	@include sm {
		font-size: 4.5rem;
		text-align: left;
	}
	@include lg {
		font-size: 6rem;
	}
	@include xl {
		font-size: 7.2rem;
	}
}

h2 {
	margin-bottom: 4rem;
	font-size: 2.4rem;
	line-height: 1;
	@include sm {
		font-size: 3rem;
	}
	@include lg {
		font-size: 4rem;
	}
	@include xl {
		font-size: 4.8rem;
	}
}

h3 {
	margin-top: 1.6rem;
	margin-bottom: 1.6rem;
	padding-left: 1.6rem;
	padding-right: 1.6rem;
	font-size: 2rem;
	font-weight: 600;
	@include sm {
		font-size: 2.4rem;
	}
}

a {
	color: $primary;
	font-weight: 600;
	text-decoration: none;
}

p {
	padding-left: 1.6rem;
	padding-right: 1.6rem;
	font-size: 1.6rem;
	font-weight: 400;
	@include sm {
		font-size: 2rem;
	}
}

label,
input {
	display: block;
}

section:not(.hero),
footer {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1.6rem;
	padding-right: 1.6rem;
	@include sm {
		max-width: calc(36em - 3rem);
	}
	@include md {
		max-width: calc(48em - 3rem);
	}
	@include lg {
		max-width: calc(62em - 3rem);
	}
	@include xl {
		max-width: calc(75em - 3rem);
	}
	@include xxl {
		max-width: calc(87.5em - 3rem);
	}
}

h2 + p,
.container > p {
	padding-left: 0rem;
	padding-right: 0rem;
	font-size: 1.6rem;
	font-family: Raleway, sans-serif;
	font-weight: 600;
	@include sm {
		font-size: 2rem;
	}
	@include xl {
		font-size: 2.4rem;
	}
}

/* ############################################# */

/* ################## HEADER ################### */

/* ############################################# */

.header {
	background-color: $secondary;
	padding-top: 2.2rem;
	padding-bottom: 2.2rem;
	.container {
		@include flex-layout();
		position: relative;
	}
	&__logo {
		position: relative;
		z-index: 3;
		line-height: 5.6rem;
		font-size: 2rem;
		font-family: Raleway, sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		@include xxl {
			font-size: 4.8rem;
		}
	}
	&__navbar {
		@include flex-layout(column, center, center);
		position: fixed;
		z-index: 2;
		top: 0%;
		left: 0%;
		width: 100vw;
		min-height: 100vh;
		background-color: $secondary;
		transform: translateX(-100%);
		transition: all .3s ease-in-out;
		&.open {
			transform: translateX(0%);
		}
		@include lg {
			@include flex-layout();
			position: static;
			width: max-content;
			min-height: max-content;
			background-color: transparent;
			transform: translateX(0%);
		}
		@include xxl {
			font-size: 2rem;
		}
		li {
			width: 75%;
			@include sm {
				width: 50%;
			}
			@include lg {
				width: max-content;
			}
		}
		a {
			display: block;
			width: 100%;
			padding: 1rem 2rem;
			text-transform: uppercase;
			transition: all .3s ease-in-out;
			&.active,
			&:hover,
			&:focus {
				background-color: #fff;
				color: $secondary;
			}
		}
	}
}

.button {
	position: relative;
	z-index: 3;
	width: 50px;
	height: 50px;
	cursor: pointer;
	border: 0.5px solid $primary;
	background-color: transparent;
	&__burger {
		@include flex-layout(column, space-between, center);
		width: 100%;
		height: 50%;
		margin: 25% auto;
		&--bar {
			width: 100%;
			height: $bar-thickness;
			border-radius: $bar-thickness / 2;
			background-color: $primary;
			transition: all 0.3s ease-in-out;
		}
	}
	&.crossed {
		position: relative;
		.button__burger {
			&--bar {
				&:nth-of-type(1) {
					width: 130%;
					transform: translateY(10px) rotate(45deg);
				}
				&:nth-of-type(2) {
					transform: scaleX(0);
				}
				&:nth-of-type(3) {
					width: 130%;
					transform: translateY(-9px) rotate(-45deg);
				}
			}
		}
	}
	@include lg {
		display: none;
	}
}

.slide-links {
    animation: slider 0.3s ease-in-out both;
}

@keyframes slider {
    from {
        transform: translateX(-100rem);
    }
    to {
        transform: translateX(0);
    }
}

/* ############################################# */

/* ################### HERO #################### */

/* ############################################# */

.hero {
	background-image: url('../img/hero-bg.jpg');
	background-position: center;
	background-size: cover;
	@include xl {
		min-height: calc(100vh - 10rem);
	}
	@media (min-resolution: 144dpi) {
		background-image: url('../img/hero-bg@2x.jpg');
	}
	.container {
		@include flex-layout(row, flex-end, flex-end);
		padding-top: 6rem;
		padding-bottom: 6rem;
		@include sm {
			padding-top: 18rem;
			padding-bottom: 9rem;
		}
		@include xl {
			padding-top: 24rem;
			padding-bottom: 12rem;
		}
	}
	&__card {
		@include flex-layout(column, center, center);
		max-width: 97rem;
		padding: 3rem 1rem;
		background-color: $hero-card-bg;
		@include sm {
			align-items: flex-end;
			padding: 3rem;
		}
		a {
			display: block;
			width: max-content;
			margin-top: 3rem;
			padding: 1rem;
			background-color: $secondary;
			transition: all .3s ease-in-out;
			@include sm {
				font-size: 2.4rem;
			}
			@include xl {
				padding: 2rem 3rem;
				font-size: 4rem;
			}
			&:hover,
			&:focus {
				background-color: #fff;
				color: $secondary;
			}
		}
	}
}

/* ############################################# */

/* ################### NEWS #################### */

/* ############################################# */


.news {
	&__cards {
		display: grid;
		grid-template-columns: 1fr;
		gap: 3.2rem;
		@include md {
			grid-template-columns: repeat(2, 1fr);
		}
		@include xl {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	@include card;
	
}

/* ############################################# */

/* ################# STUDENTS ################## */

/* ############################################# */

.students {
	background-color: $secondary;
	h2{
		color: $primary;
	}
	&__profiles {
		@include student-profile;
	}
}

/* ############################################# */

/* ################## UNITS #################### */

/* ############################################# */

.units {
	&__cards {
		display: grid;
		grid-template-columns: 1fr;
		gap: 3.2rem;
		h3 {
			margin-top: 4rem;
			margin-bottom: 4rem;
		}
		@include md {
			grid-template-columns: 1fr 1fr;
		}
	}
	@include card;
}

/* ############################################# */

/* ################# FOOTER #################### */

/* ############################################# */

.footer {
	background-color: $secondary;
	.container {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 3.2rem;
		@include xl {
			@include flex-layout(row, space-between, center);
			flex: 1;
		}
	}
	address {
		flex: 1;
		color: $primary;
		p {
			padding: 0;
			line-height: 3.6rem;
		}
		span {
			display: block;
			&:first-child {
				font-weight: 600;
			}
			&:last-of-type {
				text-transform: uppercase;
			}
		}
	}
	.legal {
		flex: 1;
		a {
			display: block;
			font-weight: 400;
			font-size: 1.2rem;
			&:first-child {
				margin-bottom: 2rem;
			}
			&:hover,
			&:focus {
				text-decoration: underline;
			}
			@include sm {
				display: inline-block;
				font-size: 1.6rem;
				font-weight: 500;
				&:first-child {
					margin-bottom: 0;
					margin-right: 2rem;
				}
			}
		}
		@include md {
			margin-left: auto;
			margin-right: auto;
		}
	}
	.social {
		@include flex-layout(row, flex-start, center);
		li:not(:last-child) {
			margin-right: 1.6rem;
			@include xl {
				margin-right: 0;
			}
		}
		a {
			display: block;
			opacity: .85;
			transition: all .3s ease-in-out;
			&:hover,
			&:focus {
				opacity: 1;
				transform: scale(1.05);
			}
		}
		@include md {
			justify-content: center;
		}
		@include xl {
			flex: 1;
			justify-content: space-evenly;
		}
	}
}

/* ############################################# */

/* ################ OTHER PAGES ################ */

/* ############################################# */

.pagination {
	@include flex-layout(row, center, center);
	li:not(:last-child) {
		margin-right: 2rem;
	}
	button {
		width: 3rem;
		height: 3rem;
		margin-bottom: 4rem;
		padding: 0;
		background-color: transparent;
		border-radius: .5rem;
		border: solid .1rem $secondary;
		color: $secondary;
		font-size: 1.6rem;
		&.active,
		&:hover,
		&:focus {
			background-color: $secondary;
			color: $primary;
		}
	}
}

.mw84 {
	max-width: 84rem;
	margin-left: auto;
	margin-right: auto;
}

.course {
	p {
		margin-bottom: 4rem;
	}
	&__cards {
		display: grid;
		grid-template-columns: 1fr;
		gap: 3.2rem;
		h3 {
			margin-top: 4rem;
			margin-bottom: 4rem;
		}
		@include md {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	@include card;
}

.unit {
	&__title {
		padding-top: 9rem;
		padding-bottom: 9rem;
		background-image: url('../img/mod-card-code.jpg');
		background-position: center center;
		background-size: cover;
		color: $primary;
		@include sm {
			padding-top: 17.2rem;
			padding-bottom: 17.2rem;
		}
	}
}

section.unit {
	padding-top: 0;
}

.all-students {
	&__profiles {
		@include student-profile($color-title: $secondary-color, $color-link: $secondary);
	}
}

.news-story {
	figure {
		width: 100%;
		height: auto;
		margin-bottom: 4rem;
		img {
			width: 100%;
			height: 100%;
			object-fit: center;
			object-position: center;
		}
	}
	p {
		@include flex-layout(row, center, center);
		margin-bottom: 4rem;
		span {
			margin-left: .8rem;
			font-weight: 400;
			font-family: Montserrat, sans-serif;
			font-size: 1.6rem;
		}
	}
}

.note {
	img {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 4rem;
	}
	&__features {
		display: grid;
		grid-template-columns: 1fr;
		gap: 4rem;
		.feature:last-child {
			grid-column: 1 / -1;
		}
		@include sm {
			grid-template-columns: repeat(2, 1fr);
		}
		@include xl {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

.contact {
	.form {
		display: grid;
		grid-template-columns: 1fr;
		gap: 3.2rem;
		&__group {
			&:last-child {
				grid-column: 1 / -1;
				justify-self: flex-end;
			}
		}
		@include md {
			grid-template-columns: 1fr 1fr;
		}
		@include xl {
			margin-top: 10rem;
			margin-left: 11rem;
			margin-right: 11rem;
		}
		
		input, textarea {
			width: 100%;
			padding-left: 1rem;
			padding-top: 1.05rem;
			padding-bottom: 1.05rem;
			border: none;
			outline: none;
			border-bottom: 1px solid $borders;
			&::placeholder {
				font-style: italic;
				color: #33110080;
			}
			&:focus {
				border-bottom: 1px solid $secondary;
				background-color: lighten($secondary, 37%);
				transition: all .3s ease-in-out;
			}
		}
		label {
			margin-bottom: 1rem;
		}
		textarea {
			min-height: 20rem;
		}
		button {
			@include flex-layout(row, center, center);
			grid-column: 1 / -1;
			padding: 1rem 2rem;
			border: none;
			border-radius: .4rem;
			background-color: $secondary;
			color: $primary;
			span {
				margin-right: 2rem;
				font-weight: 600;
				font-size: 1.6rem;
				@include xl {
					font-size: 2.4rem;
				}
			}
			&:hover,
			&:focus {
				background-color: $primary;
				color: $secondary;
				transition: all .3s ease-in-out;
				.svg-border {
					stroke: $secondary;
					transition: all .3s ease-in-out;
				}
			}
		}
	}
	.textarea,
	.submit-button {
		grid-column: 1 / -1;
	}
}