// Colors
$primary: #FFFFFF;
$secondary: #FD7E37;
$secondary-color: #331100;
$borders: #707070;
$hero-card-bg: #00000080;
$cards-shadow: #00000029;
$schedules: #663014;

// Screen sizes
$sm: 36em; // Breakpoint 576px
$md: 48em; // Breakpoint 768px
$lg: 62em; // Breakpoint 992px
$xl: 75em; // Breakpoint 1200px
$xxl: 87em; // Breakpoint 1400px

// Burger button
$bar-thickness: 4px;
